{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecionar Seleção</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app-container">
        <header class="app-header">
            <h1><img src="{% static 'Logo.ico' %}" alt="" class="logo"> Selecionar Avaliação</h1>
    {% if request.user.is_authenticated %}

        <div class="user-info">
            <span class="welcome-message">Olá, <strong>{{ request.user.username }}</strong></span>
            <a href="{% url 'logout' %}" class="logout-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                    <polyline points="16 17 21 12 16 7"></polyline>
                    <line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
                Sair
            </a>
        </div>

    {% endif %}

            
        </header>

        <section class="evaluation-section">
            <h2 class="section-title">Escolha a Seleção Disponível</h2>
            <form method="post" class="evaluation-form">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="form-error">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="{{ form.selecao_disponivel.id_for_label }}">{{ form.selecao_disponivel.label }}:</label>
                    {{ form.selecao_disponivel }}
                    {% if form.selecao_disponivel.errors %}
                        <div class="form-error">{{ form.selecao_disponivel.errors }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="nav-button next large-button">Iniciar Análise</button>
            </form>
        </section>

        <footer class="app-footer">
            <div class="footer-info">
                <span class="system-info">Sistema de Análise Curricular</span>
            </div>
        </footer>
    </div>
</body>
</html>