{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IAUPE Curricular</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app-container">
        <header class="app-header">
            <h1><img src="{% static 'analise_curricular/IAUPE_Concursos.png' %}" alt="Logo IAUPE" class="logo"> IAUPE CONCURSOS</h1>
        </header>

        <section class="evaluation-section text-center">
            <h2 class="section-title">Bem-vindo ao Sistema de Análise Curricular - UPE 2025</h2>
            <p>Este sistema permite a avaliação e registro das informações curriculares dos candidatos.</p>
            <p>Clique no botão abaixo para iniciar o acesso.</p>
            <a href="{% url 'login' %}" class="nav-button next large-button"> {# <--- ALterado para 'login' #}
                Acessar Sistema &rarr;
            </a>
        </section>

        <footer class="app-footer">
            <div class="footer-info">
                <span class="system-info">Sistema de Análise Curricular - IAUPE</span>
            </div>
        </footer>
    </div>
</body>
</html>